# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Choose virtualenv': 'virtualenv:select'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Virtualenv'
      'submenu': [
        {'label': 'Deactivate', 'command': 'virtualenv:deactivate'}
        {'type': 'separator' }
      ]
    ]
  }
]
